[run]
source = .
relative_files = true
sigterm = true
parallel = true
omit =
    tests/*
    */tests/*
    conftest.py
    */fake_model/*
    fake_model/*
    .venv/*
    */site-packages/*
    */__pycache__/*

[report]
ignore_errors = true
